@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
    margin: 0%;
    font-family: 'Nunito', sans-serif;
}

.center {
    text-align: center;
}

h1,
h3 {
    font-family: 'Nunito', sans-serif;
}

#head {
    padding: 20px;
    color: white;
}

#head h3 {
    font-size: 32px;
    margin-bottom: 1px;
}

#head p {
    margin-top: 0px;
}

#logo {
    float: left;
    text-decoration: none;
    margin-left: 30px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 16px 32px;
    overflow: hidden;
    background-color: #9C8AF1;
}

#head {
    background-color: #9C8AF1;
    height: 300px;
}

li {
    float: right;
}

li a {
    display: center;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: #9C8AF1;
    box-shadow: 0px 0px 10px white;
}

#container {
    margin-top: -60px;
}

#left {
    margin-left: 40px;
    padding: 10px;
    float: left;
    width: 25%;
    height: 230px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#left:hover {
    transform: translateY(-7px);
    box-shadow: 3px 3px 15px #2B2C34;
}

#center {
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    width: 25%;
    height: 230px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#center:hover {
    transform: translateY(-7px);
    box-shadow: 3px 3px 15px #2B2C34;
}

#right {
    margin-right: 40px;
    padding: 10px;
    float: right;
    width: 25%;
    height: 230px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#right:hover {
    transform: translateY(-7px);
    box-shadow: 3px 3px 15px #2B2C34;
}

#input1 {
    margin-top: 20px;
    border-radius: 24px;
    padding: 10px 25px;
    width: 250px;
    border-color: #9C8AF1;
    outline: none;
}

.button1 {
    margin: 10px;
    border-radius: 24px;
    border: none;
    padding: 12px 25px;
    width: 150px;
    background-color: #9C8AF1;
    color: white;
    outline: none;
}

.button1:hover {
    transform: translateY(-7px);
    box-shadow: 3px 3px 15px #9C8AF1;
    color: #9C8AF1;
    background-color: white;
}

.paraFont {
    font-family: 'Inter', sans-serif;
}

.spanText {
    color: #808080;
}

.spanText1 {
    color: #2B2C34;
}

.fa {
    color: #775DF4;
}

#Lsection {
    margin-top: 60px;
    margin-bottom: 100px;
}